<div fxLayout="row" fxLayout.xs="column">
  <div fxLayout fxLayout.xs="column" fxFlex="39%" fxLayoutAlign="start" fxLayoutGap="2em" fxLayoutGap.xs="0" class="nav-header">
    <img class="header-icon" src="/favicon.ico">
  </div>
  <div fxLayout fxLayout.xs="column" fxFlex="61%" fxLayoutAlign="end" fxLayoutGap="2em" fxLayoutGap.xs="0" class="nav-header">
    <div class="nav-item">
      <h1>Home</h1>
    </div>
    <div class="nav-item">
      <h1>About Me</h1>
    </div>
    <div class="nav-item">
      <h1>Portfolio</h1>
    </div>
  </div>
</div>


