<div class="nav-header" fxLayout="row" fxLayout.xs="column">
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="22px" fxLayoutGap.xs="0">
    <img class="header-icon" src="/assets/bt-logo.png">
  </div>
  <div fxLayout fxLayout.xs="column" fxFlex="100%" fxLayoutAlign="end" fxLayoutGap.xs="0">
    <div class="nav-item">
      <h1>Home</h1>
    </div>
    <div class="nav-item">
      <h1>About Me</h1>
    </div>
    <div class="nav-item">
      <h1>Portfolio</h1>
    </div>
  </div>
</div>


