<div fxLayout="column" fxLayoutGap="22px">
  <h1>
    My Portfolio and Previous Works
  </h1>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <a class="portfolio-card" target="_blank" href="https://auspost.com.au/developers" ngClass.xs="clear" fxFlex="1 1 256px">
      <img class="less-clear" src="/assets/devportal.jpg">
      <div class="text-container">AusPost Developer Portal</div>
    </a>
    <a class="portfolio-card" target="_blank" href="http://monashseed.org" fxFlex="1 1 256px" ngClass.xs="clear">
      <img class="less-clear" src="/assets/SEED-Logo1.png">
      <div class="text-container">Monash SEED</div>
    </a>
  </div>

</div>