<div fxLayout="column" fxLayoutGap="22px" fxLayoutAlign="center center">
  <h1>
    My Portfolio and Previous Works
  </h1>
  <div *ngIf="!hasErred && (portfolios == null)" class="loading-bar-container">
    Loading...
  </div>
  <div *ngIf="hasErred">
    Whoops, something went wrong here!
  </div>
  <div class="portfolio-container" [ngClass]="portfolios != null ? 'loaded' : null" fxLayout="row wrap" fxLayoutAlign="center center">
    <a class="portfolio-card" *ngFor="let portfolio of portfolios" target="_blank" href="{{ portfolio.external_link }}" ngClass.xs="clear"
      fxFlex="1 1">
      <img class="less-clear" src="{{ portfolio.thumb_img_src }}">
      <div class="text-container">{{ portfolio.name }}</div>
    </a>
  </div>
</div>