.site-container {
    max-width: 90%;
    height: 100%;
    margin: auto;
}

.notification-banner.visible {
    border: 1.5px solid #cccccc;
    border-radius: 11px;
    padding-top: 11px;
    padding-bottom: 11px;
    height: 100%;
}

.notification-banner {
    height: 0;
    padding: 0;
    border: 0;
    transition: all 0.5s ease;
}

.main-content {
    padding-top: 60px;
}

header {
    background-color: white;
}