/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

h1, .subtitle {
    font-size: 1.5em;
}

.title {
    font-size: 5em;
}

button {
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}