<div class="title">
    Hello world!
</div>
<div class="subtitle">
    My name is Ben and I'm a web developer.
</div>
<button class="primary" routerLink="/about">About me</button>
<div fxLayoutAlign="center center" fxLayout="row wrap" fxLayoutGap="12px">
    <a target="_blank" href="https://www.linkedin.com/in/benjamin-tanone/">
        <img class="small" src="/assets/icons/linkedin-brands.svg">
    </a>
    <a target="_blank" href="https://github.com/verzac/">
        <img class="small" src="/assets/icons/github-brands.svg">
    </a>
</div>